<div id="<%= dom_id article %>" class="prose lg:prose-xl">
  <p class="balance mb-0 py-0 text-4xl font-semibold underline underline-offset-8 decoration-lime-500 decoration-1 text-blue-900 inline-block">
    <%= article.title %>
  </p>
  <p class="py-0 m-0">
    <%= RenderService.new.(article.content) %>
  </p>
  <p class="text-md mt-0">
    <strong>User:</strong>
    <%= article.user.email %>
  </p>
</div>
