<div id="<%= dom_id article %>" >
  <p class="balance mb-12 text-4xl font-semibold underline underline-offset-8 decoration-lime-500 decoration-1 text-blue-900 inline-block">
    <%= article.title %>
  </p>
  <p>
    <%= RenderService.new.(article.content) %>
  </p>
  <p>
    <strong>User:</strong>
    <%= article.user.email %>
  </p>
</div>
