<article class="max-w-[725px] mx-auto">
  <h1>Editing article</h1>
  <%= render "form", article: @article %>
  <br>
  <div>
    <%= link_to "Show this article", @article, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded-full" %>
    <%= link_to "↩ Back to articles", articles_path, class: "bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded-full" %>
  </div>
</article>
