<h1 class="font-futura text-4xl underline underline-offset-2 mb-16 text-center">Articles</h1>
<div id="articles" class="font-futura">
  <% @articles.each do |article| %>
    <article class="mb-28">
      <%= render article %>
      <%= link_to "Show this article", article, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded-full" %>
    </article>
  <% end %>
</div>
