<p style="color: green"><%= notice %></p>
<h1>Articles</h1>
<div id="articles" class="font-futura">
  <% @articles.each do |article| %>
    <article class="mb-28">
      <%= render article %>
      <%= link_to "Show this article", article %>
    </article>
  <% end %>
</div>
