<button class="text-gray-50 lg:hidden" data-toggle-menu-target="button" >
  <svg width="45px" height="45px" stroke="#03220B" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="hamburguer">
    <g id="SVGRepo_bgCarrier" fill="#363636" stroke-width="0"/>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
    <g id="SVGRepo_iconCarrier"> <path class="transition-all duration-1000" d="M20 7L4 7" stroke="#03220B" stroke-width="1.5" stroke-linecap="round"/> <path class="transition-all duration-1000" d="M20 12L4 12" stroke="#03220B" stroke-width="1.5" stroke-linecap="round"/> <path class="transition-all duration-1000" d="M20 17L4 17" stroke="#03220B" stroke-width="1.5" stroke-linecap="round"/> </g>
  </svg>
</button>
