<div id="container" class="z-10 sticky top-0" data-controller="toggle-menu" data-toggle-menu-target="nav">
  <nav class="w-full bg-white p-3 transition-all duration-700">
    <div class="w-full flex justify-center min-h-[4rem]">
      <div class="w-full sm:w-4/5 lg:w-3/4 xl:w-2/3 flex justify-between items-center">
        <%= link_to articles_path do %>
          <h2 class="text-slate-600 text-2xl lg:text-3xl tracking-[-0.15rem] font-thin inline text-shadow">📑 OhMyBlog!</h2>
        <% end %>
        <%= render "shared/navbar/navigation_links" %>
        <%= render  "shared/navbar/hamburguer_button" %>
      </div>
    </div>
  </nav>
  <%= render "shared/navbar/mobile_navigation_links" %>
</div>
