@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura";
  src: asset-path("futura/futur.ttf");
  font-weight: normal;
  font-style: normal;
}

article {
  margin: 4rem 0rem !important;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

p {
  padding: 0 !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

pre {
  border-radius: 8px;
  margin: 0rem 0 !important;
}

/* Editor JS */
.codex-editor__redactor,
.ce-paragraph,
.ce-block,
.codex-editor {
  max-width: 100% !important;
}

.codex-editor__redactor {
  padding: 0rem 0rem 4rem 0rem !important;
}

.balance {
  text-wrap: balance;
  text-align: center;
}

.ace_gutter {
  z-index: 0;
}

.text-shadow {
  text-shadow: -1px 1px 2px #84cc16;
}

.blur_effect {
  --tw-bg-opacity: 0.95;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  backdrop-filter: blur(10);
}

.render-alert {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid;
}

.danger_alert {
  background-color: #fff5f5;
  border-color: #ff0000;
  color: #a80000;
}

.info_alert {
  background-color: #effeff;
  border-color: #36eeff;
  color: #00a2b1;
}

.warning_alert {
  background-color: #fffaf0;
  border-color: #ffaa00;
  color: #b17601;
}

.primary_alert {
  background-color: #ddfcff;
  border-color: #00eaff;
  color: #0071ad;
}

.secondary_alert {
  background-color: #f7fafc;
  border-color: #0099ff;
  color: #005994;
}

.success_alert {
  background-color: #f0fff4;
  border-color: #00ff44;
  color: #00a32c;
}

.light_alert {
  background-color: transparent;
  border-color: #adb0b4;
  color: #778da3;
}

.dark_alert {
  background-color: #2d3748;
  border-color: #fff;
  color: #fff;
}

.text-right {
  text-align: right !important;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul {
  list-style: disc;
  list-style-position: inside;
}

/* ARTICLE IMAGES */
:root {
  --bg-color: #a0a3acc0;
  --front-color: #388ae5;
  --border-color: #e8e8eb;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}

.image-border {
  outline: 10px solid var(--border-color);
  outline-offset: 5px;
}

.image-background {
  background-color: var(--bg-color);
}

.image-stretched {
  width: 100%;
  max-width: 100%;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-with-background {
  max-width: 60%;
  margin: 0 auto;
}

.centered-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.inline-code::before, .inline-code::after {
    content: "";
}

.inline-code {
    border-radius: 0px !important;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

/* Personaliza el contenedor de la barra */
::-webkit-scrollbar {
    width: 12px;  /* Ancho de la barra vertical */
    height: 12px;  /* Altura de la barra horizontal */
  }

  /* Personaliza el track o la pista de la barra */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  /* Personaliza el thumb o el mango de la barra */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  /* Cambia el color del thumb al pasar el ratón */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
